<div class="container text-center">
    <h1>About Your Foodie Team</h1>
</div>
</br>

<img src="/Photos/sushi.jpg" class="d-block w-100" alt="..." />
</br>

{{!-- IMAGES AND DESCRIPTION SECTION --}}

<div class="contact-container">
  <form action="action_page.php">

    <h2>Contact a Foodie Expert</h2>
    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="country">Country</label>
    <select id="country" name="country">
      <option value="australia">Australia</option>
      <option value="canada">Canada</option>
      <option value="usa">USA</option>
    </select>

    <label for="subject">Subject</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <input type="submit" value="Submit">

  </form>
</div>
</br>
