<section>
  <h2>Create New Recipe</h2>
  <form class="new-post-form">
    <div>
      <label for="dish-title">Dish Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>

    <div>
      <label for="ingredients">Ingredients Needed</label>
      <input type="text" id="ingredients" name="ingredients"/>
    </div>

    <div>
      <label for="directions">How to create your dish</label>
      <input type="text" id="directions" name="directions"/>
    </div>

    <button type="submit" class="btn">Create</button>
  </form>
</section>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>